services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: cocktails
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"


  backend:
    build: ./backend
    environment:
      DATABASE_URL: "postgresql://user:pass@db:5432/cocktails?schema=public"
    depends_on:
      - db
    ports:
      - "3000:3000"


  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    depends_on:
      - backend


volumes:
  db_data: